name: control_temp
description: "Monitor de Temperatura Heladera"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.4.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  web_socket_channel: ^3.0.1
  http: ^1.2.1
  provider: ^6.1.2
  syncfusion_flutter_charts: ^26.1.41
  intl: ^0.19.0
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.2.3 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/glass_bg.jpg